backend/.venv

backend/app/__pycache__/

backend/app/api/__pycache__/
backend/app/core/__pycache__/
backend/app/db/__pycache__/
backend/app/models/__pycache__/
backend/app/schemas/__pycache__/
backend/app/services/__pycache__/
backend/app/utils/__pycache__/
backend/app/tests/__pycache__/
backend/app/tests/data/
backend/app/tests/__pycache__/
backend/app/tests/data/__pycache__/
backend/migrations/versions/*.pyc
backend/migrations/versions/__pycache__/
backend/__pycache__/
backend/.env
backend/.env.local
backend/instance/
backend/instance/*


backend/app/api/v1/__pycache__/
backend/app/api/v1/endpoints/__pycache__/

backend/uploads/